*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  a{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: inherit;
  }
  ul{
    list-style-type: none;
  }
}
